/* app */
.palette,
.color {
  outline: 1px solid alpha(@theme_fg_color, 0.25);
	outline-offset: -1px;
	box-shadow: none;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	border-radius: 8px;
	min-height: 32px;
	min-width: 32px;
}

/* Horrible hack, otherwise menus are blown in size */
.menu * {
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}
.menu separator {
  padding: 0;
}

gridview child .palette-box,
gridview child .color-box {
  border-radius: 8px;
  border: 2px solid transparent;
}
gridview child:selected {
  background: none;
  color: @theme_fg_color;
}
gridview child:selected .palette-box,
gridview child:selected .color-box {
  background: alpha(@theme_fg_color, 0.1);
}

.red slider,
.blue slider,
.green slider {
        background: mix(@theme_base_color, @theme_fg_color, 0.5);
        border: none;
        border: 1px solid alpha(shade(@theme_base_color, 0.77), 0.25);
}
.red trough{
        background-image:
            linear-gradient(
                to right,
                #000,
                #e01b24
            );
        padding: 8px;
        border-radius: 9999px;
}
.red highlight {
        background: none;
        border: 1px solid transparent;
}
.green trough {
        background-image:
            linear-gradient(
                to right,
                #000,
                #33d17a
            );
        padding: 8px;
        border-radius: 9999px;
}
.green highlight {
        background: none;
        border: 1px solid transparent;
}
.blue trough {
        background-image:
            linear-gradient(
                to right,
                #000,
                #3584e4
            );
        padding: 8px;
        border-radius: 9999px;
}
.blue highlight {
        background: none;
        border: 1px solid transparent;
}
