/* app */
@define-color accent_color @green_4;
@define-color accent_bg_color @green_4;

.palette,
.color {
  outline: 1px solid alpha(@theme_fg_color, 0.25);
	outline-offset: -1px;
	box-shadow: none;
	padding: 0;
	margin: 0;
	border: none;
	background: none;
	border-radius: 8px;
	min-height: 32px;
	min-width: 32px;
}

/* Horrible hack, otherwise menus are blown in size */
.menu * {
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 0;
}
.menu separator {
  padding: 0;
}

gridview child .palette-box,
gridview child .color-box {
  border-radius: 12px;
  border: 4px solid transparent;
}

gridview child button {
  padding: 0;
}
gridview child:selected {
  background: none;
  color: @theme_fg_color;
}
gridview child:selected .palette-box,
gridview child:selected .color-box {
  background: alpha(@accent_color, 0.1);
  outline: 1px solid alpha(@accent_color, 0.25);
	outline-offset: -1px;
}
.red trough{
        background-image:
            linear-gradient(
                to right,
                #000,
                #e01b24
            );
        padding: 8px;
        border-radius: 9999px;
}
.red highlight {
        background: none;
        border: 1px solid transparent;
}
.green trough {
        background-image:
            linear-gradient(
                to right,
                #000,
                #33d17a
            );
        padding: 8px;
        border-radius: 9999px;
}
.green highlight {
        background: none;
        border: 1px solid transparent;
}
.blue trough {
        background-image:
            linear-gradient(
                to right,
                #000,
                #3584e4
            );
        padding: 8px;
        border-radius: 9999px;
}
.blue highlight {
        background: none;
        border: 1px solid transparent;
}

.nw-title-box {
  background-color: shade(@theme_base_color, 0.4);
  border-bottom: 1px solid @borders;
}
.nw-title-box entry {
  background: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 5px;
  border: none;
}
.nw-view {
  background-color: shade(@theme_base_color, 0.2);
}
.nw-search-box box {
  border-bottom: 1px solid alpha(@theme_fg_color, 0.1);
  background-color: shade(@theme_base_color, 0.6);
}
.nw-search-box entry {
  border-radius: 99999px;
}
