.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.palette,
.color {
	box-shadow: none;
	border: none;
	background: none;
	border-radius: 8px;
	min-height: 32px;
	min-width: 32px;
	outline: 1px solid @borders;
}

gridview child .palette-box,
gridview child .color-box {
  border-radius: 8px;
  border: 4px solid transparent;
  padding: 6px;
  margin: 6px;
  margin-bottom: 0px;
}

gridview child:selected {
  background: none;
  color: @window_fg_color;
}
gridview child:selected .palette-box,
gridview child:selected .color-box {
  outline: 2px solid @borders;
}

.red trough{
        background-image:
            linear-gradient(
                to right,
                #000,
                #ff0000
            );
}
.red highlight {
        background: none;
}
.green trough {
        background-image:
            linear-gradient(
                to right,
                #000,
                #00ff00
            );
}
.green highlight {
        background: none;
}
.blue trough {
        background-image:
            linear-gradient(
                to right,
                #000,
                #0000ff
            );
}
.blue highlight {
  background: none;
}

.eml-view gridview {
  margin: 6px;
  margin-top: 0px;
  background: @surface_container_lowest_bg_color;
  border-radius: 10px;
}

.title-label {
  padding: 8px;
  background: none;
  color: @window_fg_color;
  font-weight: 600;
}

.eml-box {
  background: none;
  box-shadow: inset 0 0 0 1px @borders;
}

.eml-box:hover {
  background: alpha(@window_fg_color, 0.05);
}
